{% extends "base.html" %}
{% block content %}
    <h2 class="title is-2">Internal server error 500</h2>
        <br>
    <h2>We couldn't fulfill your request please try again, click <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/500"><b>HERE</b></a> for more information</h2>
            <br>
    <h1>or follow this link <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/500"> <b>https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/500</b></a></h1>
{% endblock %}